$orange: #F82;
$orange-glow: #FA8;

body {
  margin: 0;
  background: #888888;
  color: white;
  font-family: monospace;
}

#canvas {
  display: block;
  max-width: 100%;
  max-height: 40vh;
  background-color: black;
  margin: 0 auto;
}

#canvas_container {
  background: #222;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  margin: 8px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  padding: 10px;
}

@property --buttonColor1 {
  syntax: 'color';
  initial-value: #666;
  inherits: false;
}

@property --buttonColor2 {
  syntax: 'color';
  initial-value: #444;
  inherits: false;
}

button {
  --buttonColor1: #666;
  --buttonColor2: #444;
  background: linear-gradient(var(--buttonColor1), var(--buttonColor2));
  transition: --buttonColor1 1.2s, --buttonColor2 1.2s;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 800;
  border: none;
  border-radius: 5px;
}

button:hover {
  --buttonColor1: #777;
  --buttonColor2: #555;
}

button.playing {
  /* background: linear-gradient(#222, #444); */
  --buttonColor1: #222;
  --buttonColor2: #222;
}

button#record {
  width: 100%;
  border-radius: 0px 0px 5px 5px;
}

.gizmo_container,
.gizmo_sub_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  background: linear-gradient(#DDD 5%, #999 8%, #888 92%, #666 93%);
}

.gizmo_container {

  >* {
    flex: 1 1 0;
  }
}

.gizmo {
  background: black;
  color: $orange;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0px 0px 25px #111 inset, 0px 0px 10px rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 2px $orange-glow;
  margin: 8px;
  min-width: 6rem;

  .title {
    display: block;
  }

  .display {
    font-size: 1.5rem;
  }
}

.gizmo_break {
  flex: 0 1 auto;
  background-color: $orange;
  box-shadow: 0px 0px 4px $orange-glow;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  padding: 5px;
}